<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">
          <h2>Bookstore</h2>
        </a>
        <nav>
            <a href="/books">
                <button>Back</button>
            </a>
        </nav>
    </header>
    <div>
        <form action="/books" method ="POST">
            <h2>Add Book</h2>
            <!-- whenever you want to save some data into database, your key must match with the name of key that we have provide into the schema  -->
            <input type="text" name="title" placeholder="Add Title">
            <textarea name="" name="description"  rows="4" placeholder="Add Description.."></textarea>
            <input type="number" name = "price" placeholder="Add price">
            <input type="text" name= "author"placeholder="Author name">
            <div>
                <button>Add Book</button>
            </div>
        </form>
    </div>
</body>
</html>